.jumbotronBackground {
  background-color: #FF6666;
}

#banner h1 {
  text-align: center;
}

body {
  background-color: #FF9A66;
}

.col-md-2 {
  background-color: #993367;
  min-width: 240px;
  min-height: 500px;
}

.col-md-9 {
  padding-left: 80px;
}
