.jumbotronBackground {
  background-color: pink;
}

#banner h1 {
  text-align: center;
}

.col-md-2 {
  background-color: green;
  min-width: 240px;
  min-height: 500px;
}

.col-md-9 {
  padding-left: 80px;
}
