.jumbotronBackground {
  background-color: #FF6666;
}

#banner h1 {
  text-align: center;
  color: #330000;
}

body {
  background-color: #FF9A66;
}

.col-md-2 {
  background-color: #993367;
  min-width: 240px;
  min-height: 500px;
}

#sidebar h4 {
  color: #FF99CD;
}

#sidebar h3 {
  color: #660034;
}

#sidebar p {
  color: #d3d3d3;
}

.col-md-9 {
  padding-left: 60px;
}

#main h2, h4, p, ol, label, ul {
  color: #330000;
}
